/*=============== ID SECONDARY ===============*/

/*========== Desktop Resolution ==========*/
#secondary {
  grid-area: 1 / 1 / 2 / 2;
  background-color: $dark-grey;
  padding: $p-16;
  border-radius: 35px;
  color: $neutral-white;

}

/*========== Laptop Resolution ==========*/

/*========== Tablet Resolution ==========*/

/*========== Mobile Resolution ==========*/
